html{
    scroll-behavior: smooth;
  }
  
  body{ 
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5); 
  background: linear-gradient(to right, #ACB6E5, #74ebd5);
  transition: background 0.2s ease-in;
  }
  
  
  .nav-link{
    font-weight:800;
    color: #444!important;
  }
  
  .nav-link:hover{
    color: #000!important;
  }
  
  #scroll-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 20px;
    transition: 0.5s ease-in;
    color:black;
    background-color: cadetblue;
  }
  #scroll-to-top:hover{
  transform: scale(1.1);
  background-color: darkcyan;
  color:wheat;
  }
  h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    text-align: center;
    position: relative;
  }
  .hover-border::after{
    content: '';
    width: 0%;
    height:3px;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046); 
    position: absolute;
    bottom: 0%;
    left:50%;
    border-radius: 10px;
    transition: all 0.5s ease;
  }
  
  .hover-border:hover::after{
    left:40%;
    width:20%;
  }
  
  .inside{
    overflow: hidden;
  }
  
  .left{
    font-weight:530;
    text-align: left;
  }
  
  .btn{
    background-color: #35455d;
    transition: all 0.5s ease-in-out 0s;
    margin:auto;
  }
  
  .btn:hover{
    background-color: blueviolet;
  }
  .new{
    text-align: center;
  }
  .btnnew{
    color:white;
    transition: 0.3s ease-in-out;
  }
  .btnnew:hover{
    color:white;
  }
  
  
  .img-fluid{
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width:100%;
    height: 20em;
  }
  
  .inside{
    /* margin:0!important; */
    margin-left: 0;
    
  }
  
  .imageChange{
    /* height:50%; */
    width: 100%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 1s ease;
    
  }
  
  .imageChange:hover{
    transform: scale(1.1);
    transition: transform 0.8s ease-in-out;
  }
  
  .row{
    width: 100%;
    height: 30em;
    display: inline-flex;
    justify-content: center;
    align-self: center;
  }
  
  .card-container{
    width: 25em;
    height:33em;
    background-color: rgb(161, 161, 201);
    border-radius: 20px;
    box-shadow:
    0 6.6px 2.5px rgba(0, 0, 0, 0.059),
    0 15.7px 5.9px rgba(0, 0, 0, 0.085),
    0 28px 11.1px rgba(0, 0, 0, 0.105),
    0 44.9px 19.9px rgba(0, 0, 0, 0.125),
    0 70.3px 37.2px rgba(0, 0, 0, 0.151),
    0 138px 89px rgba(0, 0, 0, 0.21);
    border:1.5px solid rgb(108, 108, 184);
    padding: 0;
  }
  
  .card-body{
    width: 25em;
    height: 15em;
    margin: 0;
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
  }
  
  .card-container .card-body:hover{
    transform: rotateY(180deg);
  }
  
  .card-text .text-muted{
    color:#35455d!important;
  }
  
  /* figure{
    margin:0!important;
    margin-block-start: 0!important;
  } */
  
  .card-body figure{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    margin:0!important;
    margin-top:1em!important;
    backface-visibility: hidden;
    /* display: flex;
    justify-content: center; */
  }
  
  .card-body{
    margin: 0!important;
  }
  
  .card-container{
    margin: 0;
    overflow:hidden;
  }
  
  .card-body .front{
    /* background-color: blueviolet; */
  }
  
  .card-body .back{
    width: 22em;
    box-sizing: border-box;
    transform:rotateY(180deg);
    max-width: 90%;
    justify-content:center;
  }
  
  .theme{
    display: flex;
    margin-left: 80%;
    align-items: center;
  }
  
  .changeTheme{
    margin-right: 1em;
  }
  
  
  .searchOuter {
    margin-bottom: 1rem;
    position: relative;
  }
  
  @media screen and (max-width:985px) {
    .searchOuter {
        margin-top: 1rem !important;
    }
  }
  @media screen and (max-width:445px) {
    .searchOuter {
        margin-bottom: 3rem !important;
    }
    .searchbar:hover > .search_input {
        width: 60vw !important;
    }
  }
  .searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color:#696f6970;
  border-radius: 30px;
  padding: 10px;
  }
  ::placeholder { 
    color: purple;
  }
  .search_input{
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 7rem;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }
  
  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 30vw;
  caret-color:red;
  transition: width 0.4s linear;
  }
  
  .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  color: purple;
  }
  
  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  }
  
  
  @media only screen and (max-width: 600px){
    .card-container{
      width: 20em;
    height:25em;
    background-color: rgb(161, 161, 201);
    border-radius: 20px;
    box-shadow:
    0 6.6px 2.5px rgba(0, 0, 0, 0.059),
    0 15.7px 5.9px rgba(0, 0, 0, 0.085),
    0 28px 11.1px rgba(0, 0, 0, 0.105),
    0 44.9px 19.9px rgba(0, 0, 0, 0.125),
    0 70.3px 37.2px rgba(0, 0, 0, 0.151),
    0 138px 89px rgba(0, 0, 0, 0.21);
    border:1.5px solid rgb(108, 108, 184);
    padding: 0;
    }
  
    .card-body{
      height: 13em;
    }
  
    .img-fluid{
      height: 12em;
    }
  
    .card-body .back{
      left:0;
    }
  
  
  }
  